<nav class="sidebar-nav scroll-sidebar" data-simplebar>
    <ul id="sidebarnav">
      <!-- ============================= -->
      <!-- Home -->
      <!-- ============================= -->
      <li class="nav-small-cap">
        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
        <span class="hide-menu">Admin Dashboard</span>
      </li>
      <!-- =================== -->
      <!-- Dashboard -->
      <!-- =================== -->
      <li class="sidebar-item">
        <a class="sidebar-link" href="/dashboard" aria-expanded="false">
          <span>
            <i class="ti ti-aperture"></i>
          </span>
          <span class="hide-menu">Home</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" href="/dashboard/add-jewellery" aria-expanded="false">
          <span>
            <i class="ti ti-aperture"></i>
          </span>
          <span class="hide-menu">Add Jewellery</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" href="/dashboard/add-others" aria-expanded="false">
          <span>
            <i class="ti ti-aperture"></i>
          </span>
          <span class="hide-menu">Add Others</span>
        </a>
      </li>
      
    </ul>
   
  </nav>