<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png"/>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/animate.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/chosen.min.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/pe-icon-7-stroke.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/jquery.scrollbar.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/lightbox.min.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/magnific-popup.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="assets/fonts/flaticon.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/megamenu.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/dreaming-attribute.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css"/>
    <title>About</title>
</head>
<body>
  <%- include('header'); -%>
<div class="banner-wrapper has_background">
    <img src="assets/images/banner-for-all2.jpg"
         class="img-responsive attachment-1920x447 size-1920x447" alt="img">
    <div class="banner-wrapper-inner">
        <h1 class="page-title">About</h1>
        <div role="navigation" aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
            <ul class="trail-items breadcrumb">
                <li class="trail-item trail-begin"><a href="/"><span>Home</span></a></li>
                <li class="trail-item trail-end active"><span>About</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="site-main  main-container no-sidebar">
    <div class="section-037">
        <div class="container">
            <div class="kaycee-popupvideo style-01">
                <div class="popupvideo-inner">
                    <div class="icon">
                        <img src="assets/images/about-img.jpg"
                             class="attachment-full size-full" alt="img">
                        <div class="product-video-button">
                            <!-- <a class="buttonvideo" href="#" data-videosite="vimeo" data-videoid="28605017" tabindex="0">
                                <div class="videobox_animation circle_1"></div>
                                <div class="videobox_animation circle_2"></div>
                                <div class="videobox_animation circle_3"></div>
                            </a> -->
                        </div>
                    </div>
                    <div class="popupvideo-wrap" style="padding-top: 30px !important;">
                        <h4 class="title">
                            Who we are </h4>
                        <p class="desc">MyssticbyArzoo has been importing and selling Crystals and Crystal jewellery creating since 2020.
                            Driven by her passion for helping others, founder and CEO Arzoo Upadhyay began her spiritual journey a few years ago that awakened a deep reverence for cross-cultural and spiritual traditions. As she enriched her understanding of these sacred practices, she started working with crystals and as she grew spiritually and got rid of her issues likes severe anxiety issues and sleeplessness. Arzoo wanted Crystal healing to reach each and every household, everywhere, with the intention of healing others for what kind of energies they wish to attract in their lives.
                            </p>
                        <p>At MyssticbyArzoo, we make sure every person who comes across the brand gains knowledge about what spiritual work is, how they can grow spiritually and especially how to choose and work with crystal to find their life/spiritual path. We import most of our Crystals from the mine source around 10-12 countries. 
                            Today, MyssticbyArzoo crafts pieces using sacred and meaningful symbols and semi-precious gemstones renowned for their healing properties. In sterling silver, 14K gold plate and 18kt gold plate, each MyssticbyArzoo design is created to bring joy to its wearer.
                            </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-001">
        <div class="container">
            <div class="kaycee-heading style-01">
                <div class="heading-inner">
                    <h3 class="title">
                        Meet Our Team <span></span></h3>
                    <div class="subtitle">
                        A perfect blend of creativity and technical
                    </div>
                </div>
            </div>
            <div class="kaycee-slide">
                <div class="owl-slick equal-container better-height"
                     data-slick="{&quot;arrows&quot;:true,&quot;slidesMargin&quot;:30,&quot;dots&quot;:true,&quot;infinite&quot;:false,&quot;speed&quot;:300,&quot;slidesToShow&quot;:3,&quot;rows&quot;:1}"
                     data-responsive="[{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesMargin&quot;:&quot;20&quot;}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;20&quot;}},{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;30&quot;}}]">
                    <div class="kaycee-team style-01">
                        <div class="team-inner">
                            <div class="thumb-avatar">
                                <a href="#" target="_self" tabindex="0">
                                    <img src="assets/images/team-img1.jpg"
                                         class="attachment-full size-full" alt="img"></a>
                                <div class="list-social">
                                    <a href="#" tabindex="0"><i class="az_tta-icon fa fa-facebook"></i></a>
                                    <a href="#" tabindex="0"><i class="az_tta-icon fa fa-twitter"></i></a>
                                    <a href="#" tabindex="0"><i class="az_tta-icon fa fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="content-team">
                                <h3 class="name">
                                    <a href="#" target="_self" tabindex="0">
                                        Annie Taylor </a>
                                </h3>
                                <p class="positions">Operations</p>
                            </div>
                        </div>
                    </div>
                    <div class="kaycee-team style-01">
                        <div class="team-inner">
                            <div class="thumb-avatar">
                                <a href="#" target="_self" tabindex="0">
                                    <img src="assets/images/team-img2.jpg"
                                         class="attachment-full size-full" alt="img"> </a>
                                <div class="list-social">
                                    <a href="#" tabindex="0"><i class="az_tta-icon fa fa-facebook"></i></a>
                                    <a href="#" tabindex="0"><i class="az_tta-icon fa fa-twitter"></i></a>
                                    <a href="#" tabindex="0"><i class="az_tta-icon fa fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="content-team">
                                <h3 class="name">
                                    <a href="#" target="_self" tabindex="0">
                                        Ayomide Regan </a>
                                </h3>
                                <p class="positions">Marketing Personal</p>
                            </div>
                        </div>
                    </div>
                    <div class="kaycee-team style-01">
                        <div class="team-inner">
                            <div class="thumb-avatar">
                                <a href="#" target="_self" tabindex="0">
                                    <img src="assets/images/team-img3.jpg"
                                         class="attachment-full size-full" alt="img"> </a>
                                <div class="list-social">
                                    <a href="#" tabindex="0"><i class="az_tta-icon fa fa-facebook"></i></a>
                                    <a href="#" tabindex="0"><i class="az_tta-icon fa fa-twitter"></i></a>
                                    <a href="#" tabindex="0"><i class="az_tta-icon fa fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="content-team">
                                <h3 class="name">
                                    <a href="#" target="_self" tabindex="0">
                                        Violet Frase </a>
                                </h3>
                                <p class="positions">Director</p>
                            </div>
                        </div>
                    </div>
                    <div class="kaycee-team style-01">
                        <div class="team-inner">
                            <div class="thumb-avatar">
                                <a href="#" target="_self" tabindex="-1">
                                    <img src="assets/images/team-img4.jpg"
                                         class="attachment-full size-full" alt="img"> </a>
                                <div class="list-social">
                                    <a href="#" tabindex="-1"><i class="az_tta-icon fa fa-facebook"></i></a>
                                    <a href="#" tabindex="-1"><i class="az_tta-icon fa fa-twitter"></i></a>
                                    <a href="#" tabindex="-1"><i class="az_tta-icon fa fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="content-team">
                                <h3 class="name">
                                    <a href="#" target="_self" tabindex="-1">
                                        Frank Greer </a>
                                </h3>
                                <p class="positions">Operations</p>
                            </div>
                        </div>
                    </div>
                    <div class="kaycee-team style-01">
                        <div class="team-inner">
                            <div class="thumb-avatar">
                                <a href="#" target="_self" tabindex="-1">
                                    <img src="assets/images/team5-1.jpg"
                                         class="attachment-full size-full" alt="img"> </a>
                                <div class="list-social">
                                    <a href="#" tabindex="-1"><i class="az_tta-icon fa fa-facebook"></i></a>
                                    <a href="#" tabindex="-1"><i class="az_tta-icon fa fa-twitter"></i></a>
                                    <a href="#" tabindex="-1"><i class="az_tta-icon fa fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="content-team">
                                <h3 class="name">
                                    <a href="#" target="_self" tabindex="-1">
                                        Mark Tucker </a>
                                </h3>
                                <p class="positions">Partner</p>
                            </div>
                        </div>
                    </div>
                    <div class="kaycee-team style-01">
                        <div class="team-inner">
                            <div class="thumb-avatar">
                                <a href="#" target="_self" tabindex="-1">
                                    <img src="assets/images/team6.jpg"
                                         class="attachment-full size-full" alt="img"> </a>
                                <div class="list-social">
                                    <a href="#" tabindex="-1"><i class="az_tta-icon fa fa-facebook"></i></a>
                                    <a href="#" tabindex="-1"><i class="az_tta-icon fa fa-twitter"></i></a>
                                    <a href="#" tabindex="-1"><i class="az_tta-icon fa fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="content-team">
                                <h3 class="name">
                                    <a href="#" target="_self" tabindex="-1">
                                        Perry Conner </a>
                                </h3>
                                <p class="positions">Partner</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
      <div class="kaycee-heading style-01">
          <div class="heading-inner">
              <h3 class="title">
                  Testimonials<span></span></h3>
              <div class="subtitle">
                  Lorem ipsum dolor sit amet consectetur elit erat vehicula ad, mollis viverra
                  vulputate
              </div>
          </div>
      </div>
  </div>
  <div class="section-033" >
      <div class="container">
          <div class="section-034" style="margin-top: 16px !important;">
              <div class="row">
                  <div class="col-xs-12 col-sm-10 col-md-6 offset-sm-1 col-xl-5 col-lg-5">
                      <div class="kaycee-slide">
                          <div class="owl-slick equal-container better-height"
                               data-slick="{&quot;arrows&quot;:false,&quot;slidesMargin&quot;:0,&quot;dots&quot;:true,&quot;infinite&quot;:false,&quot;speed&quot;:300,&quot;slidesToShow&quot;:1,&quot;rows&quot;:1}"
                               data-responsive="[{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;0&quot;}}]">
                              <div class="kaycee-testimonial style-02">
                                  <div class="testimonial-inner">
                                      <p class="desc">Lorem ipsum dolor sit amet consectetur
                                          elit,
                                          facilisi viverra morbi aptent taciti hendrerit pulvinar ante</p>
                                      <div class="testimonial-info">
                                          <div class="intro">
                                              <h3 class="name">
                                                  <a href="#" target="_self" tabindex="0">
                                                      Charley Pratt </a>
                                              </h3>
                                              <div class="position">
                                                  Customer
                                              </div>
                                          </div>
                                          <div class="thumb">
                                              <img src="assets/images/avatar1.png"
                                                   class="attachment-full size-full" alt="img" width="97"
                                                   height="97"></div>
                                      </div>
                                  </div>
                              </div>
                              <div class="kaycee-testimonial style-02">
                                  <div class="testimonial-inner">
                                      <p class="desc">Lorem ipsum dolor sit amet consectetur
                                          elit,
                                          facilisi viverra morbi aptent taciti hendrerit pulvinar ante</p>
                                      <div class="testimonial-info">
                                          <div class="intro">
                                              <h3 class="name">
                                                  <a href="#" target="_self" tabindex="-1">
                                                      Nadia Pugh </a>
                                              </h3>
                                              <div class="position">
                                                  Customer
                                              </div>
                                          </div>
                                          <div class="thumb">
                                              <img src="assets/images/avatar3.png"
                                                   class="attachment-full size-full" alt="img" width="97"
                                                   height="97"></div>
                                      </div>
                                  </div>
                              </div>
                              <div class="kaycee-testimonial style-02">
                                  <div class="testimonial-inner">
                                      <p class="desc">Lorem ipsum dolor sit amet consectetur
                                          elit,
                                          facilisi viverra morbi aptent taciti hendrerit pulvinar ante</p>
                                      <div class="testimonial-info">
                                          <div class="intro">
                                              <h3 class="name">
                                                  <a href="#" target="_self" tabindex="-1">
                                                      Troy Bryant </a>
                                              </h3>
                                              <div class="position">
                                                  Customer
                                              </div>
                                          </div>
                                          <div class="thumb">
                                              <img src="assets/images/avatar2.png"
                                                   class="attachment-full size-full" alt="img" width="97"
                                                   height="97"></div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
    <!-- <div class="section-039 section-001">
        <div class="container">
            <div class="kaycee-slide">
                <div class="owl-slick equal-container better-height"
                     data-slick="{&quot;arrows&quot;:true,&quot;slidesMargin&quot;:60,&quot;dots&quot;:false,&quot;infinite&quot;:false,&quot;speed&quot;:300,&quot;slidesToShow&quot;:5,&quot;rows&quot;:1}"
                     data-responsive="[{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;30&quot;}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;30&quot;}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:4,&quot;slidesMargin&quot;:&quot;40&quot;}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:5,&quot;slidesMargin&quot;:&quot;50&quot;}},{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:5,&quot;slidesMargin&quot;:&quot;60&quot;}}]">
                    <div class="dreaming_single_image dreaming_content_element az_align_center">
                        <figure class="dreaming_wrapper az_figure">
                            <div class="az_single_image-wrapper az_box_border_grey effect bounce-in "><img
                                    src="assets/images/brand-logo-1.png"
                                    class="az_single_image-img attachment-full" alt="img" width="200" height="100">
                            </div>
                        </figure>
                    </div>
                    <div class="dreaming_single_image dreaming_content_element az_align_center">
                        <figure class="dreaming_wrapper az_figure">
                            <div class="az_single_image-wrapper   az_box_border_grey effect bounce-in "><img
                                    src="assets/images/brand-logo-5.png"
                                    class="az_single_image-img attachment-full" alt="img" width="200" height="100">
                            </div>
                        </figure>
                    </div>
                    <div class="dreaming_single_image dreaming_content_element az_align_center">
                        <figure class="dreaming_wrapper az_figure">
                            <div class="az_single_image-wrapper  az_box_border_grey effect bounce-in "><img
                                    src="assets/images/brand-logo-4.png"
                                    class="az_single_image-img attachment-full" alt="img" width="200" height="100">
                            </div>
                        </figure>
                    </div>
                    <div class="dreaming_single_image dreaming_content_element az_align_center">
                        <figure class="dreaming_wrapper az_figure">
                            <div class="az_single_image-wrapper az_box_border_grey effect bounce-in "><img
                                    src="assets/images/brand-logo-3.png"
                                    class="az_single_image-img attachment-full" alt="img" width="200" height="100">
                            </div>
                        </figure>
                    </div>
                    <div class="dreaming_single_image dreaming_content_element az_align_center">
                        <figure class="dreaming_wrapper az_figure">
                            <div class="az_single_image-wrapper az_box_border_grey effect bounce-in "><img
                                    src="assets/images/brand-logo-2.png"
                                    class="az_single_image-img attachment-full" alt="img" width="200" height="100">
                            </div>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="section-040">
        <div class="kaycee-heading style-01">
            <div class="heading-inner">
                <h3 class="title">
                    Follow Us </h3>
                <div class="subtitle">
                    @kayceestore
                </div>
            </div>
        </div>
        <div class="kaycee-instagram style-01">
            <div class="instagram-owl owl-slick"
                 data-slick="{&quot;arrows&quot;:false,&quot;slidesMargin&quot;:0,&quot;dots&quot;:false,&quot;infinite&quot;:false,&quot;speed&quot;:300,&quot;slidesToShow&quot;:6,&quot;rows&quot;:1}"
                 data-responsive="[{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:4,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:5,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:6,&quot;slidesMargin&quot;:&quot;0&quot;}}]">
                <div class="rows-space-0">
                    <a href="#" class="item">
                        <img class="img-responsive" src="assets/images/insta1.jpg" alt="About">
                        <span class="instagram-info">
                                         <span class="social-wrap">
                                            <span class="social-info">1                                                <i
                                                    class="flaticon-chat"></i>
                                            </span>
                                            <span class="social-info">0                                                <i
                                                    class="flaticon-heart-shape-outline"></i>
                                            </span>
                                        </span>
                                    </span>
                    </a>
                </div>
                <div class="rows-space-0">
                    <a href="#" class="item">
                        <img class="img-responsive" src="assets/images/insta2.jpg" alt="About">
                        <span class="instagram-info">
                                         <span class="social-wrap">
                                            <span class="social-info">1                                                <i
                                                    class="flaticon-chat"></i>
                                            </span>
                                            <span class="social-info">0                                                <i
                                                    class="flaticon-heart-shape-outline"></i>
                                            </span>
                                        </span>
                                    </span>
                    </a>
                </div>
                <div class="rows-space-0">
                    <a href="#" class="item">
                        <img class="img-responsive" src="assets/images/insta3.jpg" alt="About">
                        <span class="instagram-info">
                                         <span class="social-wrap">
                                            <span class="social-info">1                                                <i
                                                    class="flaticon-chat"></i>
                                            </span>
                                            <span class="social-info">0                                                <i
                                                    class="flaticon-heart-shape-outline"></i>
                                            </span>
                                        </span>
                                    </span>
                    </a>
                </div>
                <div class="rows-space-0">
                    <a href="#" class="item">
                        <img class="img-responsive" src="assets/images/insta4.jpg" alt="About">
                        <span class="instagram-info">
                                         <span class="social-wrap">
                                            <span class="social-info">1                                                <i
                                                    class="flaticon-chat"></i>
                                            </span>
                                            <span class="social-info">0                                                <i
                                                    class="flaticon-heart-shape-outline"></i>
                                            </span>
                                        </span>
                                    </span>
                    </a>
                </div>
                <div class="rows-space-0">
                    <a href="#" class="item">
                        <img class="img-responsive" src="assets/images/insta5.jpg" alt="About">
                        <span class="instagram-info">
                                         <span class="social-wrap">
                                            <span class="social-info">1                                                <i
                                                    class="flaticon-chat"></i>
                                            </span>
                                            <span class="social-info">0                                                <i
                                                    class="flaticon-heart-shape-outline"></i>
                                            </span>
                                        </span>
                                    </span>
                    </a>
                </div>
                <div class="rows-space-0">
                    <a href="#" class="item">
                        <img class="img-responsive" src="assets/images/insta6.jpg" alt="About">
                        <span class="instagram-info">
                                         <span class="social-wrap">
                                            <span class="social-info">1                                                <i
                                                    class="flaticon-chat"></i>
                                            </span>
                                            <span class="social-info">0                                                <i
                                                    class="flaticon-heart-shape-outline"></i>
                                            </span>
                                        </span>
                                    </span>
                    </a>
                </div>
                <div class="rows-space-0">
                    <a href="#" class="item">
                        <img class="img-responsive" src="assets/images/insta7.jpg" alt="About">
                        <span class="instagram-info">
                                         <span class="social-wrap">
                                            <span class="social-info">1                                                <i
                                                    class="flaticon-chat"></i>
                                            </span>
                                            <span class="social-info">0                                                <i
                                                    class="flaticon-heart-shape-outline"></i>
                                            </span>
                                        </span>
                                    </span>
                    </a>
                </div>
                <div class="rows-space-0">
                    <a href="#" class="item">
                        <img class="img-responsive" src="assets/images/insta8.jpg" alt="About">
                        <span class="instagram-info">
                                         <span class="social-wrap">
                                            <span class="social-info">1                                                <i
                                                    class="flaticon-chat"></i>
                                            </span>
                                            <span class="social-info">0                                                <i
                                                    class="flaticon-heart-shape-outline"></i>
                                            </span>
                                        </span>
                                    </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('footer'); -%>
<a href="#" class="backtotop active">
    <i class="flaticon-right-arrow"></i>
</a>
<script src="assets/js/jquery-1.12.4.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/chosen.min.js"></script>
<script src="assets/js/countdown.min.js"></script>
<script src="assets/js/jquery.scrollbar.min.js"></script>
<script src="assets/js/lightbox.min.js"></script>
<script src="assets/js/magnific-popup.min.js"></script>
<script src="assets/js/slick.js"></script>
<script src="assets/js/jquery.zoom.min.js"></script>
<script src="assets/js/threesixty.min.js"></script>
<script src="assets/js/jquery-ui.min.js"></script>
<script src="assets/js/mobilemenu.js"></script>
<script src="assets/js/functions.js"></script>
</body>

</html>